*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup{
    background-color: white;
    width: 30%;
    padding: 2%;
    border-radius: 7px;
}
.signup p{
    margin: 3% 0;
    color: gray;
    align-items: justify;
    font-size: 13px;
}
.signup input{
    width: 100%;
    padding: 3% 2%;
    margin: 1% 0;
}
#checkbox{
    width: auto;
    margin-right: 2%;
}
#submit{
    margin: 4% 2%;
    width: 100%;
    padding: 5% 0;
    background-color: rgb(187, 81, 81);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.signup label{
    font-size: 13px;
}
.pink{
    color: rgb(187, 81, 81);
}
.signup a{
    text-decoration: none;
}
.bottom{
    margin-top: -8%;
    background-color: rgb(207, 203, 203);
   
}
.bottom #text{
    padding: 4% 2%;
}
#text h2{
    margin: 1% 0;
}
#text p{
    font-size: 16px ;
    color: gray;
    margin-bottom: 1%;
}
#textField{
    width: 55%;
   
}
#text #hours{
    padding: 1%;
    width: 20%;
    margin: 1% 4px;
} 
#text #city{
    width: 40%;
    padding: 1%;
    margin: 1% 4px;
}
#text #calculate{
    padding: 1.5% 0;
    width: 30%;
    margin: 1% 4px;
    background-color: rgb(187, 81, 81);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 700px){
    .signup{
        width: 40%;
    }
    .bottom #text{
        padding: 12% 2%;
    }
    #text #calculate{
        padding: 2%;
        overflow: hidden;
    }
}