.App{
  height: 100vh;
  background-color: #eee;
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin:0 auto 10%;
 
}
.nav li{
  padding: 1% 3%;
  list-style: none;
}
.nav li a{
  text-decoration: none;
}
.child{
  font-size: 25px;
  font-weight: 700;
}